@use '../../style/base/media' as *;

.burger-menu {
  display: flex;
  justify-content: end;
  &__button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;

    span {
      display: block;
      height: 2px;
      background: #fff;
      transition: 0.3s;
    }

    &--open {
      span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}

@include media-md {
  .burger-menu {
    display: none;
  }
}
