@use '../../style/base/media' as *;

.assortment {
  &__header {
    padding: 20px 0;
    background-color: var(--sp-bg-c-blue);
  }
  &__title {
    text-align: center;
  }
  &__content {
    padding: 40px 0 20px;
  }
}

@include media-md {
  .assortment {
    &__content {
      padding: 50px 0 30px;
    }
  }
}

@include media-lg {
  .assortment {
    &__header {
      padding: 30px 0;
    }
    &__content {
      padding: 40px 0;
    }
  }
}
